<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TestEngine/src/com/redskyit/scriptDriver/RunTests.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="RMC_SERVER_DIR" value="/Users/adf/Sites/RMC2/trunk/tests/regression/test-server/main"/>
<mapEntry key="RMC_TEST_ROOT" value="/Users/adf/Sites/RMC2/trunk/tests/regression/tests/main"/>
</mapAttribute>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER&quot; javaProject=&quot;TestEngine&quot; path=&quot;1&quot; type=&quot;4&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;/Users/adf/Projects/ScriptDriver/Engine/lib/selenium-server-standalone-3.141.0.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#10;&lt;runtimeClasspathEntry id=&quot;org.eclipse.jdt.launching.classpathentry.defaultClasspath&quot;&gt;&#10;&lt;memento exportedEntriesOnly=&quot;false&quot; project=&quot;TestEngine&quot;/&gt;&#10;&lt;/runtimeClasspathEntry&gt;&#10;"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.redskyit.scriptDriver.RunTests"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="tests/addsearch/start.test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TestEngine"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dwebdriver.chrome.driver=ScriptDriver/lib/chromedriver -classpath ScriptDriver/lib/testEngine.jar:ScriptDriver-0.1/lib/selenium-server-standalone-3.141.0.jar"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/adf/Sites/RMC2/branches/0.9/tests/regression"/>
</launchConfiguration>
